.load-more-container {
  display: flex;
  flex-direction: column;
  gap: 20px
}
.product-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.product {
  padding: 20px;
  border: 1px solid;
  flex-direction: column;
  gap: 15px;
}

.product img {
  height: 200px;
  width: 200px;
}